.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 2rem;
}

.form {
  width: 320px;
}

.input {
  padding: 0.75rem;
  width: 100%;
  display: block;
  border: none;
  border-radius: 0.5rem;
  background: #ccc;
  color: #333;
}

.submit {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #5c5cf0;
  border: none;
  border-radius: 0.5rem;
}

.submit:active {
  background: #4242ff;
}
